.welcome {
  color: white;
  margin: 0;
  font-size: 80px;
  text-align: center;
}

.chatan-img {
  opacity: 1.8;
  position: absolute;
  z-index: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
